body{
    display: grid;
}

body > *{
    grid-column: 1/-1;
    grid-row: 1/-1;
}

body > #background{
    z-index: -1;
}


div:has(+ menu + header + #content){
    display: grid;
    grid-template-areas: "header header header"
                        ;
}  

/* Font to be added later */

menu:has(+ div){
    background-color: #4E4A59;
}

menu > div{ 
    background-color: #839073;
}


