* {
    margin: 0;
    border: 0;
    padding: 0;
}

#app {
    width: 100vw;
    height: 100vh;
}

.gridcont {
    display: grid;
    grid-template-areas:
        "header header header"
        "menu  title img"
        "menu  body body"
        "menu  body body";
}

#menu{
    grid-area: menu;
    display: flex;
    align-items: center;
}

/* NOTE: ALL COLORS ARE FOR TESTING PURPOUSES AND ARE NOT FINAL */

#menu>*{
    background-color: green;
    color: oldlace;
}

#menu>*:hover{
    background-color: yellowgreen;
}
